<div class="jumbotron">
  <div class="row">
    <div class="col-md-10">
      <h3>
        <p>Registre la actividad correspondiente</p>
      </h3>
    </div>
    <div class="col-md-6">

    </div>
  </div>
  <div class="row">
    <div class="col-md-9 mx-auto mt-1">
      <div class="card">
        <div class="card-header">Nueva Actividad</div>
        <div class="card-body">
          <form #formGuardar="ngForm" (ngSubmit)="onGuardarActividad(formGuardar)">
            <div class="form-group">
              <label for="titulo">Titulo</label>
              <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="actividad.titulo">
            </div>
            <div class="form-group">
              <label for="descripcion">Descripción</label>
              <textarea type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="actividad.descripcion"></textarea>
            </div>
            <div class="form-group">
              <label for="fecha">Fecha</label>
              <input type="date" class="form-control" id="fecha" name="fecha" [(ngModel)]="actividad.fecha">
            </div>
            <div class="form-group">
              <label for="duracion">Duración</label>
              <input type="time" class="form-control" id="duracion" name="duracion" [(ngModel)]="actividad.duracion">
            </div>

            <div class="form-group">
              <label for="participantes">Participantes</label>
              <input type="number" class="form-control" id="participantes" name="participantes" [(ngModel)]="actividad.participantes">
            </div>

            <div class="form-group">
              <label for="imagen">Subir Evidencia a Servidor</label>
              <p></p>
              <input #fileInput type="file" (change)="chooseFiles($event)" />
              <p>
                <span *ngIf="!isUp">Primero cargue el archivo
                  <br> Seguido espere mientras se completa la carga y copie la url en el recuadro de evidencia</span>
              </p>
              <span>{{imgsrc | async}}</span>
            </div>

            <div class="form-group">
              <label for="evidencia">Evidencia</label>
              <input type="text" class="form-control" id="evidencia" name="evidencia" [(ngModel)]="actividad.evidencia">
            </div>

            <div class="form-group">
              <label for="tareas">Tareas</label>
              <select multiple="" name="tareas" id="tareas" class="form-control" [(ngModel)]="actividad.tarea">
                <input type="text">
                <option>Explicar componentes</option>
                <option>Evaluar lo aprendido</option>
                <option>Informar sobre bibliotecas</option>
              </select>
            </div>
            
            <input type="submit" value="Guardar" class="btn btn-primary btn-block">

          </form>
        </div>
      </div>
    </div>
  </div>

</div>