<div class="jumbotron">
  <div class="row">
    <div class="col-md-10">
      <h3>
        <p>Registre la actividad correspondiente</p>
      </h3>
    </div>
    <div class="col-md-6">

    </div>
  </div>
  <div class="row">
    <div class="col-md-9 mx-auto mt-1">
      <div class="card">
        <div class="card-header">Nueva Actividad</div>
        <div class="card-body">
          <form #formGuardar="ngForm" (submit)="onGuardarActividad(formGuardar)">
            <div class="form-group">
              <label for="actividad">Titulo</label>
              <input type="text" class="form-control" id="actividad" name="actividad" [(ngModel)]="actividad.actividad" required>
            </div>
            <div class="form-group">
              <label for="descripcion">Descripción</label>
              <textarea type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="actividad.descripcion"></textarea>
            </div>
            <div class="form-group">
              <label for="fecha">Fecha</label>
              <input type="date" class="form-control" id="fecha" name="fecha" [(ngModel)]="actividad.fecha" required>
            </div>
            <div class="form-group">
              <label for="duracion">Duración (Min)</label>
              <input type="number" class="form-control" id="duracion" name="duracion" [(ngModel)]="actividad.duracion" min="30" required>
            </div>

            <div class="form-group">
              <label for="participantes">Participantes</label>
              <input type="number" class="form-control" id="participantes" name="participantes" [(ngModel)]="actividad.participantes" min="1" required>
            </div>

            <div class="form-group">
              <label for="imagen">Subir Evidencia a Servidor</label>
              <p></p>
              <input #fileInput type="file" (change)="chooseFiles($event)" />
              <p>
                  <img *ngIf="!isUp" src="../../../assets/carga1.PNG" width="250px" height="35px">
              </p>
              <input type="hidden" class="form-control" id="evidencia" name="evidencia" [(ngModel)]="actividad.evidencia">
                <img *ngIf="actividad.evidencia!=''" src="../../../assets/carga2.PNG" width="250px" height="35px">
            </div>

            <div class="form-group" *ngIf="actividad.evidencia!=''">
              <label for="imagen">Subir Evidencia a Servidor</label>
              <p></p>
              <input #fileInput type="file" (change)="chooseFiles2($event)" />
              <p>
                  <img *ngIf="!isUp" src="../../../assets/carga1.PNG" width="250px" height="35px">
              </p>
              <input type="hidden" class="form-control" id="evidencia2" name="evidencia2" [(ngModel)]="actividad.evidencia2">
                <img *ngIf="actividad.evidencia2!=''" src="../../../assets/carga2.PNG" width="250px" height="35px">
            </div>

            <div class="form-group" *ngIf="actividad.evidencia2!=''">
              <label for="imagen">Subir Evidencia a Servidor</label>
              <p></p>
              <input #fileInput type="file" (change)="chooseFiles3($event)" />
              <p>
                  <img *ngIf="!isUp" src="../../../assets/carga1.PNG" width="250px" height="35px">
              </p>
              <input type="hidden" class="form-control" id="evidencia3" name="evidencia3" [(ngModel)]="actividad.evidencia3">
                <img *ngIf="actividad.evidencia3!=''" src="../../../assets/carga2.PNG" width="250px" height="35px">
            </div>

            <div class="form-group" *ngIf="actividad.evidencia3!=''">
              <label for="imagen">Subir Evidencia a Servidor</label>
              <p></p>
              <input #fileInput type="file" (change)="chooseFiles4($event)" />
              <p>
                  <img *ngIf="!isUp" src="../../../assets/carga1.PNG" width="250px" height="35px">
              </p>
              <input type="hidden" class="form-control" id="evidencia4" name="evidencia4" [(ngModel)]="actividad.evidencia4">
                <img *ngIf="actividad.evidencia4!=''" src="../../../assets/carga2.PNG" width="250px" height="35px">
            </div>

            <div class="form-group" *ngIf="actividad.evidencia4!=''">
              <label for="imagen">Subir Evidencia a Servidor</label>
              <p></p>
              <input #fileInput type="file" (change)="chooseFiles5($event)" />
              <p>
                  <img *ngIf="!isUp" src="../../../assets/carga1.PNG" width="250px" height="35px">
              </p>
              <input type="hidden" class="form-control" id="evidencia5" name="evidencia5" [(ngModel)]="actividad.evidencia5">
                <img *ngIf="actividad.evidencia5!=''" src="../../../assets/carga2.PNG" width="250px" height="35px">
            </div>


            <div class="form-group">
              <label for="tareas">Tareas</label>
              <textarea type="text" class="form-control" id="tarea" name="tarea" [(ngModel)]="actividad.tarea" required></textarea>
            </div>

            <div class="form-group">
                <label for="grupo">Grupo</label>
                <input type="text" class="form-control" id="grupo" name="grupo" [(ngModel)]="actividad.grupo" required>
              </div>

            <input [disabled]="!formGuardar.form.valid" type="submit" value="Guardar" class="btn btn-primary btn-block">

          </form>
        </div>
      </div>
    </div>
  </div>

</div>