img{
    display: block;
    margin: auto;
    padding-bottom: 50px;
}

strong{
    span{
        margin-right: 5px;
    }
}

.table > tbody > tr:hover {
    background-color: #F2F2F2;
    cursor: pointer;
  }