<div class="row">
  <div class="col-md-6">
    <a href="" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i>Atrás
    </a>
  </div>
  <div class="col-md-6"></div>
</div>
<div class="row">
  <div class="col-md-10 mx-auto mt-2">
    <div class="card">
      <div class="card-header">Editar Actividad</div>
      <div class="card-body">
        <form #formModificar="ngForm" (ngSubmit)="onModificarActividad(formModificar)">
          <div class="form-group">
            <label for="actividad">Titulo</label>
            <input type="text" class="form-control" id="actividad" name="actividad" [(ngModel)]="actividad.actividad" required>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="actividad.descripcion"></textarea>
          </div>
          <div class="form-group">
            <label for="fecha">Fecha</label>
            <input type="date" class="form-control" id="fecha" name="fecha" [(ngModel)]="actividad.fecha" required>
          </div>
          <div class="form-group">
            <label for="duracion">Duración</label>
            <input type="time" class="form-control" id="duracion" name="duracion" [(ngModel)]="actividad.duracion" required>
          </div>
          <div class="form-group">
            <label for="participantes">Participantes</label>
            <input type="number" class="form-control" id="participantes" name="participantes" [(ngModel)]="actividad.participantes" min="1"
              required>
          </div>
          <div class="form-group">
            <label for="imagen">Subir Evidencia a Servidor</label>
            <p></p>
            <input #fileInput type="file" (change)="chooseFiles($event)" />
            <p>
              <span *ngIf="!isUp">
                Cargue el nuevo archivo y espere unos segundos.... 
              </span>
            </p>
          </div>

          <div class="form-group">
            <input type="hidden" class="form-control" id="evidencia" name="evidencia" [(ngModel)]="actividad.evidencia" required>
            <img *ngIf="isUp" src="../../../assets/carga2.PNG" width="250px" height="35px">
          </div>

          <div class="form-group">
            <label for="tareas">Tareas</label>
            <textarea type="text" class="form-control" id="tarea" name="tarea" [(ngModel)]="actividad.tarea" required></textarea>
          </div>

          <input [disabled]="!formGuardar.form.valid" type="submit" value="Modificar" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div>